<!DOCTYPE html>
<html lang="en">
<head>
    <title>A</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style2.css">
</head>
<body>
    
   <header>

    <!--<div class="info">
        <h3>
            PROMO : livraison gratuite partout a Abidjan 
        </h3>
    </div>-->
    <div class="principale">
        
        
        <section class="imageL">
            <div>
                <img src="image/Logo.png" alt="" width="40%" height="200px" >
                </div>
            </section>
        <ul>
            <li class="active">
               <form action="/" method="get">
                   <a href="accueil.html">Accueil</a>

               </form>
            </li>
            <li>
                <form action="/inscription" method="get">
                    <a href="inscription.html">Connexion</a>
                    
                </form>
            </li>
            <li>
                <a href="a">Profil</a>
            </li>
           
        </ul>
    </div>
</header> 
<section class="imageH">
    <div>
        <img src="image/body.jpg" alt="" width="100%" height="400px">
        </div>
    </section>
    <section class="grand-titre">
        <h1>FORUM DES DIGICODEUSES</h1>
    </section>
    
    

<!--<section class="Lesimages"> 

<section class="imageA">
    <div>
        <img src="image/digi.jpeg" alt="" width="50%" height="300px">
        </div>
    </section>
    
    <section class="texteA">
        <div class="texteA">
            <p>
                Campus DigiFemmes
            </p>

         </div>
    </section>

    <section class="imageB">
        <div>
            <img src="image/ciel.jpg" alt="40%"  height="300px">
            </div>
        </section>

        <section class="texteB">
            <div class="texteB">
                <p>
                   CIEL
                </p>
            </div>
            </section>-

        <section class="imageC">
            <div>
                <img src="image/nature.jpg" alt="" width="50%" height="300px">
                </div>
            </section>
        
            <section class="texteC">
                <div class="texteC">
                    <p>
                        LA NATURE
                    </p>
                </div>
                </section>

        <section class="imageD">
             <div>
                   <img src="image/foret.jpg" alt="" width="60%" height="300px">
                    </div>
                </section>       
                <section class="texteD">
                    <div class="texteD">
                        <p>
                           FORET
                        </p>
                    </div>
                 </section>
            </section>

        


        <body>-->

            <section class="grille">
                <div class="grille">
                    <div class="grid-item"><img src="./image/image1.jpeg" alt="" width="100%" height="278px"></div>
                    <div class="grid-item"><img src="./image/image.4.jpg" alt="" width="100%" height="278px"></div>
                    <div class="grid-item"><img src="./image/image.3.jpg" alt="" width="100%" height="278px"></div>
                    <div class="grid-item"><img src="./image/digi.jpeg" alt="" width="100%" height="278px"></div>
                </section>
                <section class="texte1">
                    <!--<div class="texte1">
                        <p>
                            Discussion</p>
                    </div>-->
                    </section>
                    <section class="texte2">
                        <!--<div class="texte2">
                            <p>
                                L'eau pure </p>
                        </div>-->
                        </section>
                        <section class="texte3">
                            <!--<div class="texte3">
                                <p>
                                    Campus DigiFemmes</p>
                            </div>-->
                            </section>
                            <!--<section class="texte4">
                                <div class="texte4">
                                    <p>
                                        La nature</p>
                                </div>
                                </section>-->
    </section>
</body>
<footer>
   
    <div class="services">
     
     <ul class="">
         <li><a href="#">Politique et confidentialité</a></li>
         <li><a href="#">Contactez-nous</a></li>

     </ul>
    </div>
    <div class="logoappia">
    <img src="image/logolesappia.png" alt="">
    </div>
      

    <!-- <div class="contact">

         <h3>Nos Réseaux</h3>
         <ul class="liste media">
             <li><a href="#"><img src="image/whatsap.jpg" alt="icones Réseaux sociaux"></a></li>
             <li><a href="#"><img src="image/facebook.avif" alt="icones Réseaux sociaux"></a></li>
             <li><a href="#"><img src="image/tiktok.avif" alt="icones Réseaux sociaux"></a></li>
             <li><a href="#"><img src="image/instagram.avif" alt="icones Réseaux sociaux"></a></li>
     </div>-->
     
    </footer>
<script type="text/javascript">
var counter=1;
setInterval(function(){
    document.getElementById('radio' + counter).checked=true;
    counter++;
    if(counter >4){ 
        counter =1;
    }
},3000)
</script>
</body>
</html>